<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    予定一覧
  </span>
</nav>

<% events.each do |event| %>
  <div class="my-events">
    <div>
      <div><%= event.title %></div>
      <div style="color: #6e767d"><%= l event.start %> ~ <%= l event.end %></div>
    </div>
    <div class="destroy-btn"><%= link_to " 削除", event_path(event), method: :delete, remote: true, "data-confirm" => "本当に削除しますか？", class: "far fa-trash-alt", style: "color: #f00;" %></div>
  </div>
<% end %>