<div class="container-fluid h-100 top">
  <div class="row h-100">
    <div class="col-xl-7 kv">
    </div>

    <div class="col-xl-5 d-flex align-items-center top-right">
      <div style="margin:0 10px">
        <div class="theme"><span>予定の作成・共有を簡単に、快適に。</span></div>
        <div><%= link_to "アカウント作成", new_user_registration_path, class: 'btn btn-dark btn-lg rounded-pill col-6 signup-btn' %></div>
        <div><%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-dark btn-lg rounded-pill col-6 signin-btn' %></div>
      </div>
    </div>
  </div>
</div>