<div class="container-fluid"></div>
  <div class="row">
  <div class="col-xl-7 room_li">

  </div>

  <div class="col-xl-5 event_li">
    <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary' %>
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary' %>
  </div>
  </div>
</div>