<div class="container-fluid"></div>
  <div class="row">
  <div class="col-xl-2 room_li">
    <h2>ルーム一覧</h2>
    <table class="table">
      <tr>
        <td><img src="assets/no_image.jpg" class="new_room"></img></td>
        <td><%= link_to "ルーム作成", new_room_path %></td>
      </tr>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= attachment_image_tag room, :image, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %></td>
          <td><%= link_to room.name, room_path(room.id) %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-xl-10 event_li">
    <% if user_signed_in? %>
      <h2>未参加ルーム一覧</h2>
      <% @non_rooms.each do |room| %>
        <%= link_to room.name, room_path(room.id) %>
      <% end %>
    <% end %>
  </div>
  </div>
</div>