/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

 @import "bootstrap";

body{
  height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: #343A40;
  text-align: center;
}

.room_li{
  background-color: #FFCCCC;
}

.event_li{
  background-color: #99CCFF;
}

.new_room{
  height: 50px;
  width: 50px;
}

#calendar{
  width: 90%;
  margin: 0 auto 5px;
}

//top
.kv{
  background-image: url(key_visual.jpg);
  background-position: center;
  background-size: auto 100%;
}

.top-right{
  background-color: #FF8856;

  div{
    width: 100%;
  }
  .theme{
    font-size: 60px;
    margin: 20px 0;
  }
}

.signup-btn{
  margin: 20px 0;
}

//アカウント作成・ログイン
.sign-up{
  height: 100vh;
  background-color: #FF8856;
}

.sign-up-box{
  padding-top: 50px;
  width: 400px;
}

.form-field{
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.create-btn{
  margin: 10px 0;
}

.user-image{
  margin-top: 20px;
  text-align: center;
}

//マイページ
.user-image{
  display: block;
  margin: 20px auto;
}

.mypage-center{
  padding: 20px 20px;
}

.icon-edit{
  margin-bottom: 20px;
}

.my_name{
  text-align: center;
}